body {
    background: #fff;
  }
  .container {
    width: 1000px;
    margin: 0 auto;
  }


/* ヘッダー */
header{
  background-color: white;
  padding: 8px;
}
  .h-img {
    width: 250px;
    height: 40px;
    margin-right: 20px;
  }


/* メインを分割 */
  .m-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
  }
/* メイン画像 */
  .m-img-main {
    width: 450px;
    height: 450px;
  }
/* メインの文字 */
  .m-main{
    padding-top: 40px;
  }
  .m-title {
    font-weight: bolder;
    font-size: 60px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
  .m-title2 {
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 5px;
    margin-bottom: 30px;
  }
  .m-title3{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }


/* コミュニティ題名 */
section{
  padding-top: 40px;
}
.s-title{
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
.s-title2{
  font-size: 30px;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
.s-title3{
  font-weight: bold;
    font-size: 40px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}


/* コミュニティ内容の全体*/
/* point1 */
.s-box1{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.s-part1{
  margin: 50px 20px 50px 50px;
  font-size: 20px;
}
.under{
  background: linear-gradient(transparent 60%,yellow 50%)
}
.s-img{
  width: 450px;
  height: 350px;
}
/* point2 */
.s-box2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px 0px;
}
.s-img02{
  width: 470px;
  height: 200px;
  margin-top: 50px;
}
.s-part2{
  margin-right: 30px;
}
/* point3 */
.s-box3{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.s-part3{
  margin: 50px 20px 50px 50px;
  font-size: 20px;
}
/* pointの文字 */
.s-p1{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.s-p2{
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.s-p3{
  font-size: 18px;
  line-height: 40px;
}
/* ボタン */
.s-button{
  text-align: center;
  margin: 40px 0px 70px 0px;
}

/* ロードマップ表 */
.s-rod{
  background-color: papayawhip;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  height: 450px;
  margin-bottom: 40px;
}
.r-box1{
  display: flex;
  flex-direction:row-reverse;
  justify-content: space-between;
}
.map{
  margin-top: 40px;
  margin-left: 100px;
}
.r-button{
  margin-top: 30px;
}
.rodmap{
  width: 300px;
  height: 300px;
  margin-top: 40px;
}


/* メリット内容 */
/* メリット題名 */
.s-meritto{
 text-align: center;
 margin-bottom: 50px;
}

/* メリット1つ目 */
.s-m01{
  height: 550px;
  width: 300px;
  background-color: lightsteelblue;
  border-radius: 10px;
  margin: 20px 10px 30px 0px;
}

/* メリット2つ目 */
.s-m02{
  height: 550px;
  width: 300px;
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
  margin: 20px 10px 30px 10px;
}

/* メリット3つ目 */
.s-m03{
  height: 550px;
  width: 300px;
  background-color: oldlace;
  border-radius: 10px;
  margin: 20px 0px 30px 10px;
}

/* メリットの中身（文字や写真） */
.s-red{
  position: relative;
  top: 120px;
  color: red;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
}
.merit{
  position: relative;
  top: 100px;
  left: 100px;
  width:100px;
  height: 100px;
}
.p-meritto{
  position: relative;
  top: 150px;
  font-size: 18px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 30px;
}



/* メリットのバナー */
.s-banner{
  height: 500px;
}
.banner{
  margin-left: -5%;
  width: 100vw;
  height: 500px;
  position: absolute;
}
/* メリットバナーの文字 */
.p-banner{
  text-align: center;
  position: relative;
  top: 70px;
}
.b-p1{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.b-p2{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
.b-p3{
  font-size: 18px;
}
.b-p5{
  color: olivedrab;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}
.shot-red{
  color: red;
  font-size: 20px;
  font-weight: bold;
}
.b-red{
  color: red;
  font-size: 40px;

}



/* 創設者の思い */
.mana-box{
  position: relative;
}

/* タイトル */
.mana-box li{
  position: absolute;
}
.mana-box .s-title{
  top: 10px;
}
.mana-box .s-title2{
  top: 50px;
  left: -3px;
}
.mana-box .s-title3{
  top: 100px;
  left: -3px;
}

/* 写真 */
.mana{
  position: absolute;
  top: 170px;
  left: 480px;
}
.blue-color{
  width: 100%;
  
}
.mana-box img{
  width: 100vw;
  margin-left: -5%;
}
.mana img{
  width: 500px;
  height: 400px;
}

/* 文字 */
.mana-p{
  background: white;
  padding: 50px;
  margin-right: 380px;
  position: absolute;
  bottom: 50px;
  box-shadow: 30px -30px rgba(255,255,255,0.5);
}
.m-p3{
  font-size: 20px;
  padding-bottom: 20px;
  line-height: 40px;
}
.s-black{
  font-weight: bold;
}



/* 運営者 */
.unei{
  width: 250px;
  height: 250px;
  border-radius: 200px;
}
.s-name{
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* マナブさんの紹介 */
.u-manabusan{
  background-color: powderblue;
  height: 500px;
  width: 400px;
  border-radius: 20px;
  margin-top: 200px;
  margin-bottom: 100px;
}

/* みったにさんの紹介 */
.u-mittani{
  background-color: lightgoldenrodyellow;
  height: 500px;
  width: 400px;
  border-radius: 20px;
  margin-left: 125px;
  margin-top: 200px;
  margin-bottom: 100px;
}
/* 2人の共通部分 */
.unei{
  position: relative;
  top: -120px;
  left: 75px;
}
.u-name{
  text-align: center;
  position: relative;
  top: -50px;
  font-weight: bold;
  font-size: 25px;
}
.u-p3{
  padding: 0px 50px;
  line-height: 30px;
  font-size: 18px;
}



/* Codebeginのメンバー */
.p-menber{
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
}


/* バナー２ */
/* バナーの写真 */
.s-banner2{
  position: relative;
}
.banner1{
  width: 100vw;
  margin-left: -5%;
  margin-top: 100px;
}
.banner2{
  width: 100vw;
  margin-left: -5%;
}

/* バナーの文字 */
.b-red2{
  font-size: 35px;
  font-weight: bold;
  color: red;
}
.b-p{
  text-align: center;
  position: absolute;
  top: 200px;
  left: 250px;
}
.b-ph{
  margin-bottom: 50px;
}
.b-ph1{
  font-size: 18px;
  line-height: 35px;
}


/* 質問コーナー */
.faq{
  text-align: center;
}


/* フッター */
footer{
  background-color: white;
}
.f-logo{
  text-align: center;
}
.f-img{
  width: 120px;
  height: 20px;
}
.p-f{
  font-weight: lighter;
  text-align: center;
}