/*----------------------------------------------------------*/
/* base */
/*----------------------------------------------------------*/
body {
  font-family: Noto, "Hiragino Sans", Helvetica, Arial, sans-serif;
  color: #212121;
  font-size: 16px;
  background-color: #fff;
}

img {
  width: 100%;
  height: auto;
}

.pc-br {
  display: block;
}
@media screen and (max-width: 767px) {
  .pc-br {
    display: none;
  }
}

/*----------------------------------------------------------*/
/* componet */
/*----------------------------------------------------------*/
/* button */
.button {
  display: inline-block;
  transition: 0.3s;
  text-align: center;
  background-color: #3dcfd4;
  border-radius: 7px;
  color: white;
  padding: 20px 35px;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing:0.8px;
}
.button.--small {
  font-size: 16px;
  padding: 15px 25px;
}
.button.--center{
  display: block;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
}
.button:hover {
  color: white;
  background-color: #65dadc;
}
@media screen and (max-width: 767px) {
  .button{
    font-size: 20px;
    padding: 20px 0;
    width: 100%;
  }
  .button.--center{
    width: 95%;
  }
  
}
/* mcopy */
.mcopy{
  text-align: center;
  color: #268f84;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 2;
  position: relative;
}
.mcopy:before{
  margin-right: 1.5rem;
  content: "＼";
}
.mcopy:after{
  margin-left: 1.5rem;
  content: "／";
}

/* container */
.container {
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
}
.container.--large {
  max-width: 1360px;
  width: 98%;
}

/* headline */
.headline{
  text-align: left;
  margin-bottom: 40px;
}
.headline__min{
  padding-left: 20px;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 1.2;
  letter-spacing: 0.8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.headline.--center .headline__min{
  justify-content: center;
}
.headline__min:before{
  margin-right: 15px;
  content: "";
  width: 14px;
  height: 3.5px;
  background: #3dcfd4;
}
.headline__item{
  text-align: left;
  font-size: 27px;
  line-height: 1.5;
  letter-spacing: 0.8px;
}
.headline.--center .headline__item{
  text-align: center;
}
.headline__item.--bold{
  font-weight: bold;
  display: block;
  margin-top: 5px;
  font-size: 42px;
  line-height: 1.5;
  letter-spacing: 0.8px;
}
@media screen and (max-width: 767px){
  .headline__min{
    font-size: 10px;
    justify-content: center;
    margin-bottom: 8px;
  }
  .headline__min:before{
    width: 8px;
    height: 2px;
    margin-right: 6px;
  }
  .headline__item{
    font-size: 16px;
    text-align: center;
  }
  .headline__item.--bold{
    font-size: 28px;
  }
}
/* backgroun-color */
.--purple{
  background-color: #e0eaff;
}
.--lightgreen{
  background-color: #f4f8d7;
}
.--lightorenge{
  background-color: #faf3eb;
}
.--skyblue{
  background-color: #dffbfe;
}
.--skygreen{
  background-color: #f4fcd2;
}
.--lightyellow {
  background-color: #fff6ea;
}

/*----------------------------------------------------------*/
/* header */
/*----------------------------------------------------------*/
.header {
  background-color: #f5f7f7;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header__right {
  display: block;
}
.header__logo {
  max-width: 225px;
  margin: 0 22px 0 0;
}
.header__tagline {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.8px;
}

@media screen and (max-width: 767px){
  .header{
    height: 20vh;
  }
  .header__inner {
    justify-content: center;
  }
  .header__left {
    justify-content: center;
    flex-direction: column;
  }
  .header__right {
    display: none;
  }
  .header__logo {
    margin-bottom: 10px;
  }
  .header__tagline {
    font-size: 11px;
  }
}
/*----------------------------------------------------------*/
/* 見入り（メインビジュアル） */
/*----------------------------------------------------------*/
.main-v{
  background: #f5f7f7;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-v__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-v__left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-v__right{
  max-width: 50%;
}
.main-v__right img{
  max-width: 610px;
  max-height: 70vh;
  margin-right: auto;
  margin-left: auto;
  object-fit: contain;
}
.main-v__headline{
  font-size: 32px;
  letter-spacing: 1.7px;
  font-weight: bold;
}
.main-v__headline.--bold{
  font-size: 55px;
  letter-spacing: 8px;
  margin-bottom: 2vh;
  display: block;
}
.main-v__excerpt{
  margin-top: 3vh;
  font-size: 22px;
  letter-spacing: 1.6px;
  margin-bottom: 3vh;
}

@media screen and (max-width: 767px) {
  .main-v{
    min-height: 80vh;
  }
  .main-v__inner{
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
  .main-v__left{
    justify-content: space-around;
    max-width: 100%;
  }
  .main-v__right{
    max-width: 100%;
    margin-bottom: 20px;
  }
  .main-v__right img {
    display: block;
    width: 80%;
    max-width: 450px;
    height: auto;
    max-height: 30vh;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1vh;
  }
  .main-v__headline{
    font-size: 21px;
  }
  .main-v__headline.--bold{
    font-size: 36px;
  }
  .main-v__excerpt{
    font-size: 15px;
  }
}

/*----------------------------------------------------------*/
/* コミュニティ内容 about */
/*----------------------------------------------------------*/
.about{
  background-color: #f5f7f7;
  padding-bottom: 110px;
}
.about__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__img img{
  display: block;
  max-width: 450px;
  margin: 0;
}
.about__item{
  width: 50%;
}
.about__num{
  display: inline-block;
  background: linear-gradient(transparent 60%, #eeec50 60%);
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.about__headline{
  margin-bottom: 20px;
  font-size: 29px;
  line-height: 2;
  font-weight: bold;
}
.about__text{
  font-size: 16px;
  line-height: 2;
}

.about__inner + .about__inner{
  margin-top: 140px;
}
.about__inner:last-child{
  margin-bottom: 100px;
}
.about__inner.--reverse{
  flex-direction: row-reverse;
}

@media  screen and (max-width: 767px) {
  .about{
    padding-bottom: 60px;
  }
  .about__inner{
    flex-direction: column;
  }
  .about__inner + .about__innner{
    margin-top: 40px;
  }
  .about__inner.--reverse{
    flex-direction: column;
  }
  .about__img img{
    margin-bottom: 30px;
  }
  .about__item{
    width: 100%;
  }
  .about__num{
    font-size: 20px;
  }
  .about__headline{
    font-size: 25px;
  }
  .about-text{
    font-size: 14px;
  }
}


/*----------------------------------------------------------*/
/* ロードマップ表（カリキュラム） */
/*----------------------------------------------------------*/
.curiculum{
  background-color: #f2e0d5;
  padding: 72px 0;
  margin-bottom: 98px;
}
.curiculum__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.curiculum__img{
  width: 30%;
  margin-right: 100px;
}
.curiculum__items{
  width: 60%;
}
.curiculum__headline{
  font-weight: bold;
  font-size: 26px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.curiculum__text{
  font-size: 16px;
  line-height: 2;
  margin-bottom: 30px;
}
.curiculum__button{
  font-size: 18px;
}
@media screen and (max-width: 767px){
  .curiculum{
    margin-bottom: 60px;
  }
  .curiculum__inner{
    flex-direction: column;
    justify-content: center;
  }
  .curiculum__img{
    width: 70%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 40px;
  }
  .curiculum__items{
    width: 100%;
  }
  .curiculum__headline{
    font-size: 24px;
  }
  .curiculume__text{
    font-size: 14px;
  }
  .curiculum__button{
    font-size: 14px;
    text-align: left;
    padding: 13px 26px;
  }
}


/*----------------------------------------------------------*/
/* ベネフィット */
/*----------------------------------------------------------*/
.benefit{
  margin-bottom: 120px;
}
.benefit-cards{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.benefit-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc((100% - 40px) / 3);
  padding: 100px 40px;
  border-radius: 10px;
}
.benefit-card__img{
  width: 100px;
  margin-bottom: 50px;
}
.benefit-card__headline{
  color: #df1a1a;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.benefit__text{
  font-size: 16px;
  line-height: 2;
}

@media screen and (max-width: 767px){
  .benefit {
    margin-bottom: 64px;
  }
  .benefit-cards {
    flex-wrap: wrap;
  }
  .benefit-card{
    width: 100%;
    padding: 50px 30px;
  }
  .benefit-card + .benefit-card {
    margin-top: 30px;
  }
  .benefit-card__img {
    margin-bottom: 30px;
  }
  .benefit__headline {
    font-size: 24px;
  }
  .benefit__text {
    max-width: 400px;
    font-size: 14px;
  }
}

/*----------------------------------------------------------*/
/* price */
/*----------------------------------------------------------*/
.price{
  background-color: #f5edf3;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-image: url(banner02-bg-pc.jpg);
}
.price__inner{
  margin-right: auto;
  margin-left: auto;
  padding-top: 72px;
  padding-bottom: 72px;
}
.price__headline{
  margin-bottom: 25px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center; 
}
.price__bold{
  font-size: 30px;
  display: block;
}
.price__redbold{
  color: red;
  font-size: 30px;
}
.price__text{
  text-align: center;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 45px;
}

@media screen and (max-width: 767px){
  .price{
    background-image: url(banner02-bg-sp.jpg);
    padding-bottom: 14px;
  }
  .price__inner{
    max-width: 100%;
  }
  .price__bold{
    font-size: 26px;
  }
  price__redbold{
    font-size: 26px;
  }
  .price__text{
    font-size: 13px;
  }
  
}

/*----------------------------------------------------------*/
/* philosophy */
/*----------------------------------------------------------*/
.philosophy{
  background-image: url(bg_color-pc.jpg);
  padding-top: 90px;
  padding-bottom: 400px;
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}
.philosophy-contents{
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.philosophy-contents__img{
  margin-bottom: 36px;
  width: 50%;
}
.philosophy-content{
  background-color: white;
  width: 60%;
  max-width: 600px;
  padding: 50px;
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 1;
}
.philosophy-content:before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  position: absolute;
  top: -5%;
  right: -5%;
  z-index: -1;
}
.philosophy-content__text{
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 2;
}
.philosophy-content__text.--bold{
  font-weight: bold;
}

@media screen and (max-width: 767px){
  .philosophy{
    padding-top: 50px;
    padding-bottom: 160px;
    margin-bottom: 0;
    background-image: url(bg_color.jpg);
    background-size: 100% 120%;
    background-position: 0 30%;
  }
  .philosophy-contents{
    margin-top: 42px;
    width: 100%;
    flex-direction: column;
  }
  .philosophy-contents__img{
    width: 100%;
  }
  .philosophy-content{
    width: 100%;
    padding: 20px 10px 10px 20px;
    position: relative;
    top: 0;
    left: -5%;
  }
  .philosophy-content:before{
    top: -3%;
    right: -7%;
  }
  .philosophy-comtent__text{
    font-size: 14px;
  }
}

/*----------------------------------------------------------*/
/* コミュニティ */
/*----------------------------------------------------------*/
.community{
  margin-bottom: 120px;
}
.community__contents{
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.community__content{
  max-width: 50%;
  padding: 0 60px 60px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 120px;
}
.community__content:last-child{
  margin-right: 0;
}
.community__img{
  border-radius: 50%;
  max-width: 225px;
  position: relative;
  top: -112.5px;
  margin-bottom: -25px;
}
.community__name{
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: bold;
}
.community__text{
  font-size: 16px;
  line-height: 1.8;
}

@media screen and (max-width: 767px) {
  .community {
    margin-bottom: 30px;
  }
  .community__contents {
    flex-direction: column;
    margin-top: 130px;
    margin-bottom: 40px;
  }
  .community__content {
    padding: 0 30px 60px;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
  }
  .community__content + .community__content {
    margin-top: 120px;
  }
  .community__img {
    max-width: 175px;
    top: -85.5px;
    margin-bottom: -55.5px;
  }
  .community__name {
    font-size: 16px;
    margin-bottom: 27px;
  }
  .community__text {
    font-size: 14px;
  }
}

/* メンバー紹介 */
/* member */
.member{
  padding-top: 30px;
}
.member__headline{
  font-size: 33px;
  margin-bottom: 80px;
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width: 767px){
  .menber__headline{
    font-size: 17px;
    margin-bottom: 24px;
  }  
}
/* slider */
.slider-parent {
  position: relative;
}
.slider-slide {
  padding: 20px 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider-img {
  width: 70%;
  margin-bottom: 20px;
  border-radius: 50%;
  object-fit: cover;
}
.slider-name {
  font-size: 21px;
  margin-bottom: 10px;
  font-weight: bold;
}
.slider-name__sub {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .slider-slide {
    padding: 10px 10px 20px;
  }
  .slider-img {
    width: 90%;
    margin-bottom: 10px;
  }
  .slider-name {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 0;
  }
  .slider-name__sub {
    font-size: 12px;
  }
}

/*----------------------------------------------------------*/
/* cta */
/*----------------------------------------------------------*/
.cta{
  background-image: url(banner03-bg-under.jpg),url(banner03-bg-top-sp.jpg);
  background-size: 70%, contain;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
}
.cta__inner{
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.cta__headline{
  font-size: 30px;
  font-weight:bold;
  text-align: center;
  color: #e51642;
  margin-bottom: 57px;
}
.cta__text{
  text-align: center;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 45px;
}
@media screen and (max-width: 767px) {
  .cta{
    background-image:  url(banner03-bg-under.jpg),url(banner03-bg-top-sp.jpg);
    background-size: contain, contain;
  }
  .cta__inner{
    padding-top: 60px;
    padding-bottom: 130px;
  }
  .cta__headline{
    font-size: 20px;
    margin-bottom: 24px;
  }
  .cta__text{
    font-size: 12px;
  }
}

/*----------------------------------------------------------*/
/* faq */
/*----------------------------------------------------------*/
  .faq{
    padding-bottom: 100px;
    padding-top: 100px;
    background-color:  #f5f6f7;
  }
  .faq__items{
    padding-top: 43px;
  }
  .faq__item{
    background-color: white;
    border-radius: 15px;
  }
  .faq__item + .faq__item{
    margin-top: 20px;
  }
  .faq__q{
    cursor: pointer;
    padding: 22px 14px 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .faq__q:after{
    content: "";
    width: 64px;
    height: 24px;
    background: url(arrow-pc.svg) center center no-repeat;
    transition: transform 0.2s;
    margin-left: auto;
  }






/* 質問コーナー */
.faq{
  text-align: center;
}


/* フッター */
footer{
  background-color: white;
}
.f-logo{
  text-align: center;
}
.f-img{
  width: 120px;
  height: 20px;
}
.p-f{
  font-weight: lighter;
  text-align: center;
}


/* レスポンシブ */
@media screen and (max-width:480){
  
  
}